<footer id="footer" class="footer">
  <div class="containerbutton">
    <div class="buttonfooter">
    <a name="#hero">
      <img class="scroll-down" src="./assets/images/ico-arrow.png" alt="Flecha hacia arriba">
    </a>
  </div>
  </div>
  <div class="box-list">
    <ul class="list1">
      <li><a class="link" href="https://adalab.es/" target="_blank">articles</a></li>
      <li><a class="link" href="https://adalab.es/" target="_blank">books</a></li>
      <li><a class="link" href="https://adalab.es/" target="_blank">events</a></li>
      <li><a class="link" href="https://adalab.es/" target="_blank">reasons</a></li>
      <li><a class="link" href="https://adalab.es/" target="_blank">tips</a></li>
    </ul>
    <ul class="list2">
      <li><a class="link" href="https://adalab.es/" target="_blank">twitter</a></li>
      <li><a class="link" href="https://adalab.es/" target="_blank">instagram</a></li>
      <li><a class="link" href="https://adalab.es/" target="_blank">mastodon.social</a></li>
    </ul>
    <ul class="list3">
      <li>&copy;2023</li>
      <li>we<span class="iconspan">❤︎</span>components</li>
    </ul>
  </div>

</footer>