<footer class="footer">
  <div class="boxfooter">
    <a href="#header" class="buttonfooter"><img class="scroll-down" src="./assets/images/ico-arrow.png"
        alt="Flecha hacia arriba"></a>
    <ul class="list1">
      <li><a class="link" href="https://adalab.es/">articles</a></li>
      <li><a class="link" href="https://adalab.es/">books</a></li>
      <li><a class="link" href="https://adalab.es/">events</a></li>
      <li><a class="link" href="https://adalab.es/">reasons</a></li>
      <li><a class="link" href="https://adalab.es/">tips</a></li>
    </ul>
    <ul class="list2">
      <li><a class="link" href="https://adalab.es/">twitter</a></li>
      <li><a class="link" href="https://adalab.es/">instagram</a></li>
      <li><a class="link" href="https://adalab.es/">mastodon.social</a></li>
    </ul>
    <ul class="list3">
      <li>&copy;2023</li>
      <li>we <span class="iconspan">❤︎</span>components</li>
    </ul>
  </div>
</footer>