<section class="section2">
  <h3 class="title2">3 reasons to purchase</h3>
  <div class="reasons centercolumn">
    <div>
      <h4 class="reason">Ud sed metus</h4>
      <p class="reason__explain">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
    <div>
      <h4 class="reason">Curabitur ac erat</h4>
      <p class="reason__explain">Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div>
      <h4 class="reason">Morbi dictum</h4>
      <p class="reason__explain">Aliquam in dolor et dolor tincidunt.</p>
    </div>
    <button class="button2">More reasons</button>
  </div>
</section>