<section class="section2">
  <h3 class="title2">3 reasons to purchase</h3>
  <div class="reasons">
    <include src="./reason.html" title="Ud sed metus">Lorem ipsum dolor sit amet, consecteur.</include>
    <include src="./reason.html" title="Curabitur ac erat">Mauris mattis urna quis lorem molestie.</include>
    <include src="./reason.html" title="Morbi dictum">Aliquam in dolor et dolor tincidunt.</include>
    <include src="./button.html" buttonClass="button2">More reasons</include>
  </div>
</section>
