.footer {
    background-color: $dark-blue;

}

.containerbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonfooter {
    background-color: $white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateY(-20px);

}

.buttonfooter:hover {
    background-color: $medium-blue;

}

.box-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        gap: 130px;
        padding: 30px 25px 40px 25px;
        align-items: flex-start;
    }
}

.list1,
.list2,
.link {
    text-align: center;
    color: $white;
    text-transform: uppercase;
    font-family: $roboto;
    line-height: 28px;
    text-decoration: none;

    @media screen and (min-width: 768px) {
        text-align: start;

    }

}

.list3 {
    text-align: center;
    color: $white;
    font-family: $roboto;
    line-height: 25px;

    @media screen and (min-width: 768px) {
        order: -1;
        text-align: start;
    }
}

.iconspan {
    color: $orange;
}