.section2 {
    background-color: $ice-blue;
    
}

.title2 {
    font-family: $roboto-slab;
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 35px;

}


.reasons {
    display: grid;
    justify-items: center;
    grid-template-rows: 150px 150px 150px;
    padding: 0px 70px 70px 70px;
    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 40px;
        margin-top: 60px;
        padding-bottom: 50px;
    }
}

.reason {
    font-family: $roboto-slab;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    @media screen and (min-width: 768px) {
        font-size: 23px;
    }

    &__explain {
        font-family: $roboto;
        text-align: center;
        line-height: 30px; 
        padding-top: 5px;
        @media screen and (min-width: 768px) {
            font-size: 18px;
            padding-top: 12px;
        }
        @media screen and (min-width: 1280px) {
            font-size: 22px;
        }
    }
}

.button2 {
    height: 45px;
    width: 180px;
    color: $white;
    font-family: $roboto;
    font-weight: bold;
    font-size: 20px;
    background-color: $orange;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
    @media screen and (min-width: 768px) {
        grid-column: span 3;
        width: 200px;
        margin-top: 50px;
    }
    @media screen and (min-width: 1280px) {
        width: 250px;
    }
    
}